<h2>Por Pais</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- Searchbox -->
    @for (region of regions; track $index) {
    <button
      class="btn mx-2"
      (click)="searchByRegion(region)"
      [class.btn-primary]="region === selectedRegion"
      [class.btn-secondary]="region !== selectedRegion"
    >
      {{ region }}
    </button>
    }
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Table -->
    <hr />
    <countries-table [countries]="countries" />
  </div>
</div>
