<h2>Por capital</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- Searchbox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
      type="search"
      placeholder="Seach..."
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialTerm"
    />
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Table -->
    <hr />

    @if (isLoading()) {
    <shared-loader-spinner />
    }

    <countries-table [countries]="capitals" />
  </div>
</div>
